<launch>
	<node name="map_saver" pkg="map_server" type="map_saver" args="-f $(find building_map)/maps/map_1409 map:=/gmapped_map"/>
	<!-- <node name="map_saver" pkg="map_server" type="map_saver" args="-f $(find building_map)/maps/cleaned_map_1409 map:=/map_transfer_node/cleaned_map"/> -->
</launch>
