/.vscode
/CMakeLists.txt
/yolov9_ros
/YOLOv10-OpenVINO-CPP-Inference
/engineer-gui-control-lib
/test/engineer-gui-control-lib
/edited_hum_det
/hum_det/scripts/__pycache__
/hum_det/resources/rosbags
/engineer-gazebo-model
/roboticsgroup_gazebo_plugins
servosila-engineer-robot-motion/
